<div id="ancArticle04" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading">エリア分散型<br class="only-sp">アルファアセットファンド<br>４つの特徴</div>
  </div>
  <div class="productArticle__cont">
    <section class="generalSect">
      <div class="heading">①投資期間は1年</div>
      <p class="txt">投資期間は1年で、投資期間終了後（1ヶ月後）に分配金が支払われます。</p>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article04-01-01@2x.png" alt="" width="820" height="472">',
        alt:'投資期間',
        captionPosition:'noCap',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
    </section>
    <section class="generalSect">
      <div class="heading">②先着順受付・出資額の上限なし</div>
      <p class="txt">これまで穴吹興産が提供してきた不動産クラウドファンディングはいずれも応募頂いた投資家様の皆様から抽選で決定させて頂いておりました。<br>
        多くの投資家様に出資のご応募を頂いても、結果的に抽選に当選しない場合は出資頂けませんでした。<br>
        また、出資額制限があるため運用希望額の多い投資家様のご要望に沿えない商品となっておりました。
      </p>
      <section class="subGeneralSect">
        <div class="subheading">穴吹興産が過去に販売した不動産クラウドファンディングの投資条件額と抽選倍率の一例</div>
        <div class="exampleTable">
          <table class="tableLayout">
            <tbody class="tableLayout__body">
              <tr class="tableLayout__row tableLayout__row--first">
                <td class="tableLayout__data">ファンド名</td>
                <td class="tableLayout__data">都道府県</td>
                <td class="tableLayout__data">種別</td>
                <td class="tableLayout__data">出資上限額</td>
                <td class="tableLayout__data tableLayout__data--last">抽選倍率</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド京都祇園</td>
                <td class="tableLayout__data">京都府</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">15.32倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド福岡天神</td>
                <td class="tableLayout__data">福岡県</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">15.79倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド大阪天王寺</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">12.35倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド学芸大学</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">9.15倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド新梅田</td>
                <td class="tableLayout__data">大阪府</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">21.08倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド東武練馬</td>
                <td class="tableLayout__data">東京都</td>
                <td class="tableLayout__data">区分マンション</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">10.65倍</td>
              </tr>
              <tr class="tableLayout__row">
                <td class="tableLayout__data tableLayout__data--first">アルファアセットファンド小樽駅前</td>
                <td class="tableLayout__data">北海道</td>
                <td class="tableLayout__data">ホテル</td>
                <td class="tableLayout__data">100万円</td>
                <td class="tableLayout__data tableLayout__data--last">6.79倍</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="conversation">
          <div class="conversation__person conversation__person--woman">
            <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
            <div class="conversation__balloon">
              <p class="txt">結構抽選倍率が高いんですね。</p>
            </div>
          </div>
          <div class="conversation__person conversation__person--man">
            <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
            <div class="conversation__balloon">
              <p class="txt">今回の「全国分散型」区分マンションクラウドファンディングでは、先着順・出資額制限無しとすることで、投資意欲の高い投資家様のご要望にお応えすることが可能となっています</p>
            </div>
          </div>
        </div>
        <p class="caption">※投資家保護の観点から、ご登録の「金融資産額」以上の投資には制限があります。</p>
      </section>
    </section>
    <section class="generalSect">
      <div class="heading">③投資利回りは年利3.0％</div>
      <p class="txt">エリア分散型アルファアセットファンドの投資利回りは預金・国債よりも高い年利3.0％となっています。</p>
      <p class="caption">※投資商品となるため、想定していた収益を得られないリスクや元本割れのリスクがあり、想定利回りが必ず保証されるものではありません。<br>※分配金は源泉徴収額（20.42％相当）を控除した後の額をお振り込み致します。</p>
    </section>
    <section class="generalSect">
      <div class="heading">④投資リスクについて</div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">投資には興味がありますが、元本割れが心配です。。</p>
          </div>
        </div>
      </div>
      <div class="relatedBox">
        <img src="./imgs/icon-question@1.5x.png" alt="?" class="relatedBox__icon" width="90" height="105">
        <div class="relatedBox__heading">元本割れとは…</div>
        <p class="txt">投資期間満了に伴う返済金が、当初お預かりした金額を下回り損失が発生すること。</p>
      </div>
      <p class="txt">エリア分散型アルファアセットファンドは、投資商品となるため下記の２つの投資リスクがあります。</p>
      <%- include('/common/components/photo/_photo.ejs', {
        imagePath: '<img src="./imgs/img-article04-04-01@2x.png" alt="" width="820" height="542">',
        alt:'',
        captionPosition:'capOut',
        captionColor:'',
        lazy:'on',
        modifiers: []
      }) %>
      <p class="txt"><span class="strong underline">穴吹興産は投資家様の共同事業主として、事業者出資額の範囲内で不動価格変動リスクや家賃収入変動リスクといった投資家様のリスクをカバーします。</span><br>
        これにより、投資家様にとっての元本割れ等の投資リスクを低減します。<br>
        今回、穴吹興産は全体出資額の15%を共同出資者として出資しますが、不動産評価額の下落や賃借人退去に伴う収益減となった場合には、穴吹興産が出資する15％の範囲で損失を負担することになります。<br>
        これを、<span class="strong underline">優先劣後方式</span>と呼びます。
      </p>
      <div class="relatedBox">
        <img src="./imgs/icon-question@1.5x.png" alt="?" class="relatedBox__icon" width="90" height="105">
        <div class="relatedBox__heading">優先劣後方式とは…</div>
        <p class="txt">優先劣後方式は、投資家の出資金と不動産クラウドファンディング事業者の出資金を分けて取扱い、ファンドに損失が生じたときには事業者分の資金からまず補填すること。</p>
      </div>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">穴吹興産出資分の15％を超えて不動産価格が下落した場合はどうなりますか？</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
          <div class="conversation__balloon">
            <p class="txt">穴吹興産の出資する15％を超えて、不動産価格が下落したり賃料収入が減った場合は、投資家様にも損失が発生してしまいます</p>
          </div>
        </div>
      </div>
      <section class="subGeneralSect">
        <div class="subheading">
          <%- include('../checkSVG/_checkSVG.ejs') %>
          不動産評価下落リスクへの対応
        </div>
        <p class="txt"><span class="strong underline">不動産の価格変動による損失が発生した場合、穴吹興産出資分（全体の15%分）から負担します。</span><br>例えば、投資した不動産価格が投資期間中に取得価格から10％下落した場合、穴吹興産の出資分から優先的に損失をカバーするため、投資家様の元本割れが発生しません。</p>
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article04-04-02@2x.png" alt="" width="820" height="480">',
          alt:'',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
      </section>
      <section class="subGeneralSect">
        <div class="subheading">
          <%- include('../checkSVG/_checkSVG.ejs') %>
          家賃収入減少リスクへの対応
        </div>
        <p class="txt">エリア分散型アルファアセットファンドに組み込まれている区分マンションの賃借人が退去した場合、当初見込んでいた家賃収益が得られず、全体の運用益が減少します。<br>
          家賃収益が少なくなった場合でも、優先劣後方式により投資家様の分配金が優先されます。<br>
          例えば、賃借人の退去により全体の家賃収益の15％減少した場合でも、投資家様の分配金が優先されるため分配金が減少することがありません。
        </p>
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article04-04-03@2x.png" alt="" width="820" height="480">',
          alt:'',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
        <div class="photo">
          <p class="caption photo__cap">※分配金は源泉徴収額（20.42％相当）を控除した後の額をお振り込み致します。</p>
        </div>
        <p class="txt"><span class="strong underline">エリア分散型アルファアセットファンドでは、評価額・家賃収入に損失が発生しても、穴吹興産の出資分からカバーすることから、投資家様のリスクを抑えた設計となっています。</span></p>
        <div class="conversation">
          <div class="conversation__person conversation__person--woman">
            <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
            <div class="conversation__balloon">
              <p class="txt">投資期間中1年で15%以上も評価額や賃料収入が下がることって実際にあるのでしょうか？</p>
            </div>
          </div>
          <div class="conversation__person conversation__person--man">
            <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="" width="120" height="120">
            <div class="conversation__balloon">
              <p class="txt">これまで穴吹興産の不動産クラウドファンディングで不動産評価額の変更による元本割れが発生したことはありません。</p>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第八弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
