<div id="ancArticle05" class="productArticle">
  <div class="productArticle__head">
    <div class="productArticle__heading"><img src="./imgs/icon-crown@1.5x.png" class="heading__icon" alt="">元本割れ実績「０件」</div>
  </div>
  <div class="productArticle__cont">
    <section class="generalSect">
      <p class="txt"><span class="strong underline">穴吹興産は賃貸中の区分マンションで25件の不動産クラウドファンディングを行った実績がありますが、これまでの元本割れ件数は０件です。</span><br><br>
        穴吹興産が提供する区分マンション型の不動産クラウドファンディングでは、<span class="strong underline">元本割れを発生しにくい好立地の物件を厳選しています。</span><br><br>
        区分マンションを投資対象としたこれまでの不動産クラウドファンディングのスキームはそのままに、投資規模を大きくしたものが今回のエリア分散型アルファアセットファンドとなります。<br><br>
        投資対象物件を区分マンションの集合体とし、全国の主要都市に分散させたことで、より安心して投資を頂ける商品としました。
      </p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
          <div class="conversation__balloon">
            <p class="txt">実際に元本割れするとしたらどのような場合でしょうか</p>
          </div>
        </div>
      </div>
    </section>
    <section class="generalSect">
      <div class="heading">投資額の元本割れが発生する場合とは…</div>
      <p class="txt">不動産の評価額が投資期間中に大きく下落し、穴吹興産の出資割合15％を超えて損失が発生した場合は、投資家様の出資額にも元本割れが発生します。<br>
        例えば、天災等で建物に大きな被害が出た場合や入居が困難となった場合には、不動産の評価額にも大きく影響します。<br>
        災害により建物に住むことが出来なくなった場合は、賃料収入も得られなくなります。
      </p>
      <div class="conversation">
        <div class="conversation__person conversation__person--woman">
          <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
          <div class="conversation__balloon">
            <p class="txt">災害はいつどこで起こるかわからないので、怖いですね</p>
          </div>
        </div>
        <div class="conversation__person conversation__person--man">
          <img src="./imgs/icon-man@1.5x.png" class="conversation__icon" alt="">
          <div class="conversation__balloon">
            <p class="txt">おっしゃる通りです。そのような災害リスクを解消するため、「エリア分散型」区分マンションクラウドファンディングを商品開発しました</p>
          </div>
        </div>
      </div>
    </section>
    <section class="generalSect">
      <div class="heading">「エリア分散型」区分マンションクラウドファンディングのメリット</div>
      <section class="subGeneralSect">
        <div class="subheading">
          <%- include('../checkSVG/_checkSVG.ejs') %>
          物件が全国に分散しており災害リスクを回避できる
        </div>
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article05-cf@2x.png" alt="" width="820" height="515">',
          alt:'',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
        <p class="txt">
          <span class="strong underline">投資における格言では、「卵は一つの籠（かご）に盛るな」という言葉があります。</span><br>
          同じものに集中的に投資すると、損失が出たときに損害が大きくなるという意味です。<br>
          <br>
          不動産に関しては、投資対象エリアを分散させることで災害に対するリスクを抑えることができます。<br>
          例えば１つの都市で不動産を多数の所有している場合は、局地的な災害が発生した場合に影響を受ける物件も多くなります。<br>
          <br>
          エリア分散型アルファアセットファンドでは、投資対象マンションが全国に点在しているため、局地的な災害が発<br>
          生した場合でも、資産全体に大きな被害を受ける可能性が低くなります。
        </p>
      </section>
      <section class="subGeneralSect">
        <div class="subheading">
          <%- include('../checkSVG/_checkSVG.ejs') %>
          収益の安定
        </div>
        <%- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article05-merit-01@2x.png" alt="" width="820" height="515">',
          alt:'',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) %>
        <p class="txt">投資対象物件が16物件あることから、マンションの賃借人退去に伴う賃料減少リスクが抑えられ、安定した投資案件となっています。<br><br>
          従来の区分マンション１部屋での投資案件の場合、投資期間中に賃借人が退去すると賃料収入が０円となるため、当初予定期間を前倒して終了する事例もありました。<br><br>
          エリア分散型アルファアセットファンドは、投資対象の物件数を増やすことで、賃借人退去による収益リスクを減らすことを実現しています。
        </p>
        <div class="conversation">
          <div class="conversation__person conversation__person--woman">
            <img src="./imgs/icon-woman@1.5x.png" class="conversation__icon" alt="">
            <div class="conversation__balloon">
              <p class="txt">偶然が重なり6カ月以内に多くの賃借人が退去しない限り、大丈夫ということですね！</p>
            </div>
          </div>
        </div>
      </section>
      <%# <section class="subGeneralSect">
        <div class="subheading">
          < %- include('../checkSVG/_checkSVG.ejs') % >
          新耐震基準の物件を採用
        </div>
        < %- include('/common/components/photo/_photo.ejs', {
          imagePath: '<img src="./imgs/img-article05-merit-02@2x.png" alt="" width="820" height="515">',
          alt:'イメージ写真',
          captionPosition:'capOut',
          captionColor:'',
          lazy:'on',
          modifiers: []
        }) % >
        <p class="txt">新耐震基準とは、1981年に改正された建築基準法の耐震基準を指します。<br>
          「新耐震基準」に対して、1981年以前の建物は「旧耐震基準」と呼びます。<br>
          新耐震基準と旧耐震基準のマンションは、地震に対する耐震性が大きく異なります。<br>
          阪神大震災（1995年）・東日本大震災（2011年）・熊本地震（2016年）において、旧耐震基準のマンションでは大きな被害を受けました。
        </p>
        <div class="damageWall">
          < %- include('/common/components/photo/_photo.ejs', {
            imagePath: '<img src="./imgs/img-article05-merit-03@2x.png" alt="" width="820" height="515">',
            alt:'旧耐震マンション：地震による被害写真',
            captionPosition:'capOut',
            captionColor:'',
            lazy:'on',
            modifiers: []
          }) % >
        </div>
        <p class="txt">エリア分散型アルファアセットファンドは、25戸の区分マンションを１つにまとめた商品としていますが、投資家様の資金の安全性を確保するため、新耐震基準のマンションのみ組み込んでいます。</p>
      </section> %>
    </section>
  </div>
  <div class="productArticle__bottom">
    <div class="productArticle__leading">
      <svg width="17.414" height="17.414" viewBox="0 0 17.414 17.414"><line x2="16" y2="16" transform="translate(0.707 0.707)" fill="none" stroke="#fff" stroke-width="2"/></svg>
      <span>登録はこちら</span>
      <svg width="17.436" height="17.892" viewBox="0 0 17.436 17.892"><line x1="16" y2="16.5" transform="translate(0.718 0.696)" fill="none" stroke="#fff" stroke-width="2"/></svg>
    </div>

    <%- include('../bnr/_bnr.ejs', {
      linkPath: 'https://join-to.jp/investor/step1_entry.html',
      txt: 'エリア分散型<br class="only-sp">アルファアセットファンド　第七弾　<br class="only-sp"><span class="underline">登録はこちら</span>'
    }) %>
  </div>
</div>
