
<%
include('/_utils');
// このブロックでは、このコンポーネントのdefault valueを設定します。
// include('/_head', {title: 'xxxxx'}) のような形でオプションを渡した時には、それが利用され、
// 渡されていない時には下記のデフォルト値が使われます。
/*
例）
titleに "default title" というデフォルト値が設定されていた場合、
include('/_head', {title: 'aaa'}) => 'aaa'
include('/_head', {title: ''}) => ''
include('/_head', {title: null}) => null
include('/_head', {}) => 'default title'
include('/_head', {title: undefined}) => 'default title'
*/

const params = ejsUtils.defaultParamsMapper(locals, {
  title: 'エリア分散型アルファアセットファンド第八弾（関東・関西・九州）|ジョイントアルファ [Jointo α]｜穴吹興産株式会社',
  description: 'あなぶき興産 presents エリア分散型アルファアセットファンド第八弾（関東・関西・九州）|ジョイントアルファ [Jointo α]｜ほったらかしでも手堅い資産運用。先着順・投資上限なし（当社初）。利回り3%。投資額10万円〜。投資期間12ヶ月。｜穴吹興産株式会社',
  keywords: 'あなぶき興産,エリア分散型アルファアセットファンド第八弾,関東,関西,九州,ジョイントアルファ,資産運用,先着順,投資上限なし,利回り,投資額,投資期間,穴吹興産株式会社',
  url: 'https://join-to.jp/lp/07/',
  ogImg: 'http://domain.com/ogp.png',
  ogType: 'article',
  vendorScript: false,
  pageScript: false,
  themeColor: 'white',
  pageId: 'template',
})
%>

<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="theme-color" content="<% if (params.themeColor ==='white') { %>#ffffff<% } %><% if (params.themeColor ==='black') { %>#000000<% } %>">
  <!-- links -->
  <link rel="shortcut icon" href="<%= relativePath %>common/favicon/favicon.ico">
  <%# WebClipアイコン指定の記述になります。サイトに応じて指定を行なってください。
  <link rel="apple-touch-icon" sizes="180x180" href="< %= relativePath % >common/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="< %= relativePath % >common/favicon/android-chrome-192x192.png">  %>
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5F9RGC5');</script>
  <!-- End Google Tag Manager -->
  <!-- title, description -->
  <title><%- params.title %></title>
  <meta name="description" content="<%- params.description %>">
  <meta name="keywords" content="<%- params.keywords %>">
  <link rel="canonical" href="<%- params.url %>">
  <meta property="og:title" content="<%- params.title %>" />
  <meta property="og:type" content="<%- params.ogType %>" />
  <meta property="og:url" content="<%- params.url %>" />
<!--  <meta property="og:image" content="<%- params.ogImg %>" />-->
  <meta property="og:description" content="<%- params.description %>" />
  <!-- assets -->
  <link rel="stylesheet" href="<%= relativePath %>common/css/common.css" />
  <link rel="stylesheet" href="./css/style.css" /><% if (params.pageId == 'interactionPattern') { %>
  <script src="//maps.google.com/maps/api/js?key=AIzaSyBdQtnBRaQf1kiXDNIG-hmXGQOuWnt8TmQ&amp;language=ja"></script><% }%>
  <script src="<%= relativePath %>common/js/lib.js"></script>
  <% if (params.vendorScript) { %><!-- vendor -->
  <script src="<%= relativePath %>common/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="<%- relativePath %>common/js/vendor/yall.min.js"></script>
  <script src="<%= relativePath %>common/js/utility.js"></script>
  <script src="<%= relativePath %>common/js/legacy-function.js"></script>
  <% }%>
  <% if (params.pageScript == 'brand' || params.pageScript == 'checkeyes') { %>
    <script src="<%= relativePath %>common/js/vendor/smoothscroll.js"></script>
    <script src="./js/function.js"></script>
  <% }%>
</head>
<body class="site-theme-<%- params.themeColor %>">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F9RGC5"height="0" width="0" style="display: none;visibility: hidden;"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="spAlert">
  <div class="spAlert__inner">
    <svg class="svgIcon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 542.9 499.9"><path class="svgIcon__path" d="M234.3,357.1v35.6c0,14.9-12.1,27-27,27H35.5c-14.9,0-27-12.1-27-27V35.5c0-14.9,12.1-27,27-27h171.9	c14.9,0,27,12.1,27,27v9.6V357.1z"/><line class="svgIcon__path" x1="89.4" y1="23.4" x2="163.1" y2="23.4"/><line class="svgIcon__path" x1="99" y1="391.9" x2="152.9" y2="391.9"/><path class="svgIcon__path" d="M335.5,491.4h-20.3c-8.5,0-15.4-6.9-15.4-15.4V378c0-8.5,6.9-15.4,15.4-15.4H519c8.5,0,15.4,6.9,15.4,15.4V476	c0,8.5-6.9,15.4-15.4,15.4h-5.5H335.5z"/><line class="svgIcon__path" x1="525.9" y1="405.2" x2="525.9" y2="450.8"/><line class="svgIcon__path" x1="323.1" y1="419.6" x2="323.1" y2="440.5"/><polyline class="svgIcon__path" points="326.8,236.4 292.9,194 326.8,151.6 "/><path class="svgIcon__path" d="M425,309.6c0-63.4-51.9-115.3-115.3-115.3"/></svg>
    <p class="spAlert__message">ポートレートモード（縦置き）表示でご覧ください。</p>
  </div>
</div>
<div id="<%- params.pageId %>" class="currentPage currentPage--<%- params.pageId %>">
